<div class="clients-section">
    <div class="container">
        <div class="clients-slider owl-carousel">
            <a href="#">
                <img src="img/partner/1-1.png" alt="">
            </a>
            <a href="#">
                <img src="img/partner/2.png" alt="" style="height:44px;width:146px">
            </a>
            <a href="#">
                <img src="img/partner/3.png" alt="">
            </a>
            <a href="#">
                <img src="img/partner/4.png" alt="">
            </a>
            <a href="#">
                <img src="img/partner/5.png" alt="">
            </a>
        </div>
    </div>
</div>