<footer class="footer-section set-bg" data-setbg="/img/footer-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 footer-widget">
                <img src="/img/logo.png" alt="">
                <p>원피스 팀은 동국대학교 창업캡스톤디자인 팀으로 동국대학교 링크사업단과 함께합니다.</p>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            
            
            <div class="col-lg-4 col-md-6 footer-widget">
                <div class="contact-widget">
                    <h5 class="fw-title">CONTACT US</h5>
                    <p><i class="fa fa-map-marker"></i>04620 중구 필동로 1길 30 동국대학교 신공학관 9층</p>
                    <p><i class="fa fa-phone"></i>'전화 : 02-2290-1723~30팩스 : 02-2290-1731'</p>
                    <p><i class="fa fa-envelope"></i>jeff8014@colorlib.com</p>
                    <p><i class="fa fa-clock-o"></i>월  -  토, 08 AM - 06 PM</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 footer-widget">
                <div class="map-footer">
                    
                    <div class="row" id="map-footer">

					</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
           
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>

    <script>
		function initMap() {            
            var DGU = {lat: 37.5569662, lng: 126.9996893};
            var map = new google.maps.Map(
                document.getElementById('map-footer'), {zoom: 15, center: DGU});
            var marker = new google.maps.Marker({position: DGU, map: map});
        }
    </script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfAgYbMK9fZC0Z7UhLmlzcMs94uryZGAQ&callback=initMap">
    </script>
        
</footer>
<!-- Footer section end -->
